---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About NorthAxis"
	description="Finding Structure in Complexity"
	pubDate={new Date()}
	heroImage={AboutHeroImage}
>
	

	<p>NorthAxis began with a simple observation: the world is becoming increasingly complex.</p>

	<p>Artificial Intelligence is changing how we work. Organizations are becoming harder to navigate. Products are becoming more sophisticated. Information is easier to access than ever before, yet harder to make sense of. And the more complex things become, the more valuable clarity becomes.</p>

	<p>NorthAxis is a place to explore that complexity.</p>

	<p>Not to simplify the world into easy answers, but to better understand the patterns beneath it.</p>

	<hr />

	<h2>About Alex</h2>

	<p>For most of my career, I worked in design. At least that's what my job titles said.</p>

	<p>Over time, however, I realized I was becoming less interested in the outputs and more interested in the systems behind them.</p>

	<p>Why do some products succeed while others fail? Why do certain teams work well together while others struggle? Why do some ideas spread naturally while others never gain traction? Why does the same technology create completely different outcomes in different organizations?</p>

	<p>These questions fascinated me far more than the final designs themselves.</p>

	<p>I don't claim to have all the answers. In fact, many of the articles here are written because I don't.</p>

	<p>Writing has become my way of thinking, a way to test ideas, challenge assumptions, and make sense of things that initially feel complicated.</p>

	<p>Sometimes I write to share an insight. More often, I write because I'm trying to understand one.</p>

	<p>If you've ever found yourself asking similar questions, then you're probably in the right place.</p>

	<p>Welcome to NorthAxis.</p>

	
</Layout>